<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="lego.name" class="form-control" id="name" placeholder="Lego Set Name"/>
    </div>
</div>
<div class="form-group">
    <label for="itemNumber" class="col-sm-2 control-label">Lego Item Number</label>
    <div class="col-sm-10">
        <input type="text" ng-model="lego.legoItemNumber" class="form-control" id="itemNumber" placeholder="Lego Set Description"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="lego.description" class="form-control" id="description" placeholder="Lego Set Description"/>
    </div>
</div>
<div class="form-group">
    <label for="pieces" class="col-sm-2 control-label">Pieces</label>
    <div class="col-sm-10">
        <input type="text" ng-model="lego.pieces" class="form-control" id="pieces" placeholder="Lego Set Pieces"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="lego.year" class="form-control" id="year" placeholder="When was the lego set released?"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>