<div class="container pad-top">
  <h3>Details for {{lego.name}}</h3>

  <table class="table shipwrecktable">
      <tr>
          <td>Name</td>
          <td>{{lego.name}}</td>
      </tr>
      <tr>
          <td>Lego Item Number</td>
          <td>{{lego.legoItemNumber}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{lego.description}}</td>
      </tr>
      <tr>
          <td>Pieces</td>
          <td>{{lego.pieces}}</td>
      </tr>
      <tr>
          <td>Year</td>
          <td>{{lego.year}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editLego({id:lego.id})">Edit</a>
  </div>
</div>
