<div class="container pad-top">
    <a ui-sref="newLego" class="btn-primary btn-lg nodecoration">Add New Lego Set</a>
    <h3>All Lego Sets</h3>
    <table class="table shipwrecktable" id="myTable" style="width:100%">
        <thead>
            <th>Name</th>
            <th>Lego No</th>
            <th>Pieces</th>
            <th>Year</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="set in lego">
                <td>{{set.name}}</td>
                <td>{{set.legoItemNumber}}</td>
                <td>{{set.pieces}}</td>
                <td>{{set.year}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="viewLego({id:set.id})">View</a>
                    <a class="btn btn-danger"  ng-click="deleteLego(set)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
