<div class="container pad-top">
    <a ui-sref="newLego" class="btn-primary btn-lg nodecoration">Add New Lego Set</a>
    <table class="table shipwrecktable">
        <tr>
            <td><h3>All Lego Sets</h3></td>
            <td></td>
        </tr>
        <tr ng-repeat="lego in legoSetss">
            <td>{{lego.name}}</td>
            <td>{{lego.description}}</td>
            <td>{{lego.yearDiscovered}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="viewLego({id:lego.id})">View</a>
                <a class="btn btn-danger"  ng-click="deleteLego(lego)">Delete</a>
            </td>
        </tr>
    </table>
</div>
